[2016-11-08 09:19] Widgen opened #1 ""Mirage" theme version."
Will you implement "Mirage" version from the official repository?

[2016-11-08 15:03] jsenjoy commented on #1
Maybe, I will take some time to see it.

[2016-11-09 09:06] jsenjoy commented on #1
I have published 0.2.0 to add `Mirage` version.

[2016-11-09 09:06] #1 closed

[2016-11-14 14:00] ajimix opened #2 "Whitespace color is not right"
Whitespace color is not right as can be seen here:
Sublime version:
![theme](https://cloud.githubusercontent.com/assets/30565/20267345/8eaf2f80-aa7a-11e6-9910-810630854b57.jpg)

VS Code version:
![theme](https://cloud.githubusercontent.com/assets/30565/20267310/5eee0b5e-aa7a-11e6-92b8-4cb3289da901.jpg)

[2016-11-16 05:14] #2 closed

[2017-02-06 08:55] teabyii opened #3 "VSCode ayu light selection + find highlight = bad contrast"
https://github.com/dempfi/ayu/issues/95

[2017-02-06 08:56] isidorn commented on #3
@teabyii thanks!

[2017-02-08 15:56] isidorn opened #4 "VSCode ayu light + long commit message = invisible text"
1. VSCode insiders, ayu light theme
2. Git viewlet, type a long text in the git commit box
3. Text becomes invisible (git tries to render the text red due to commit mesage being too long)

fyi @aeschli

![screen shot 2017-02-08 at 16 55 28](https://cloud.githubusercontent.com/assets/1926584/22745051/8b244808-ee1f-11e6-9d65-5b630080242d.png)

[2017-02-12 18:59] octref opened #5 "Not getting Roboto Mono in file tree :-("
![image](https://cloud.githubusercontent.com/assets/4033249/22865112/5db8e824-f12b-11e6-95fa-4fd926e87a7a.png)

Good theme though.

[2017-02-27 08:39] eScribMac commented on #5
FWIW, I had the same problem in Sublime on Ubuntu, and it turned out that I didn't have the font installed properly. For some reason it was showing up in the editor but not the GUI, and when I correctly installed it the problem went away (I had Roboto installed instead of Roboto Mono, but the editor was correctly showing Roboto Mono). Not sure if that will be of any help to you, but worth looking

[2017-03-06 04:56] loo2k opened #6 "wrong icon filename for coffeescript"
The current version of coffeescript icon name `file_type_coffescript@2x.png`.

It would cause a 404 err:
[code]
![2017-03-06 12 56 17](https://cloud.githubusercontent.com/assets/469964/23597276/52e82b38-026c-11e7-9c56-4254b4608526.png)

Fix: rename `file_type_coffescript@2x.png` to `file_type_coffeescript@2x.png`

[2017-03-11 08:32] teabyii commented on #4
I can not make it happen in vscode 1.10.2 in Mac.

[2017-03-11 08:34] teabyii commented on #4
The theme of this part seems not to be controlled by `.tmTheme`.

[2017-03-13 09:59] isidorn commented on #4
I also stopped seeing this in latest vscode now

[2017-03-13 09:59] #4 closed

[2017-04-12 07:55] joaomoreno opened #7 "Adopt workbench themes"
Hey, VS Code dev here. I love these themes!

[VS Code Workbench theming](https://code.visualstudio.com/updates/v1_11#_preview-workbench-theming) is now in preview, but we can already start using it. I would love to get these themes working across the whole workbench.

Let me know if you'll accept a PR.

[2017-05-04 08:01] pahen commented on #7
I've started adding custom theme colors for the entire workbench for the Ayu Dark theme. Let me know if you're interested in a PR! Note that it's a work in progress.

<img width="1087" alt="screen shot 2017-05-04 at 09 59 18" src="https://cloud.githubusercontent.com/assets/353888/25694756/64c2d03e-30b0-11e7-9103-e8789e9c07dd.png">

[2017-05-04 08:11] joaomoreno commented on #7
Looks great, although the lack of contrast between the background of the different parts is kind of strange.

[2017-05-04 08:20] pahen commented on #7
Yes, I agree. But the goal is to have it as close as the original Sublime Text theme as possible. But there's still elements that can't be themed to achieve that now. Mostly lack of border theming. And this issue https://github.com/Microsoft/vscode/issues/25774 created by me.

[2017-05-05 09:49] Michael-ABOSS commented on #7
Awesome! was checking if this would be added. Good to see you are already working on it!

[2017-05-08 02:29] teabyii commented on #7
Nice, you are welcome. @pahen

[2017-05-08 13:41] pahen commented on #7
Here's a gist if someone want to test it: https://gist.github.com/pahen/d435d91d21c7b3556c156e5618b7dd3d

Just put it in your settings. I'll create a PR once the theming API in vscode is satisfying enough :)

[2017-05-10 08:41] pahen commented on #7
I'm making progress on all 3 versions (light, mirage, and dark). Screenshots coming soon! :)

[2017-05-10 08:42] Michael-ABOSS commented on #7
I have been using the Dark theme you posted in the gist for the last two days. Looking very good have not run in to any bugs. Will also test the other versions when you are ready

[2017-05-11 04:52] pahen commented on #5
This isn't supported by VSCode yet.

[2017-05-12 07:21] joaomoreno commented on #7
Pretty cool. I'd love to get some contrast between the sidebar and the editor, even if only a slight dim border.

[2017-05-17 11:38] pahen commented on #7
https://github.com/teabyii/vscode-ayu/pull/8

[2017-05-18 14:07] #3 closed

[2017-05-18 14:07] #7 closed

[2017-05-18 14:14] teabyii opened #9 "Things missing in the theme without styling supports in the theming API"
- [x] Add left border to sidebar - https://github.com/Microsoft/vscode/issues/26530
- [x] Themeing for editor squiggles - https://github.com/Microsoft/vscode/issues/16204 + https://github.com/Microsoft/vscode/issues/9819
- [ ] Feature request: bold_folder_labels setting like Sublime's -
 https://github.com/Microsoft/vscode/issues/10748
- [ ] Hide sidebar's Tree View/Explorer arrows - https://githu

[2017-05-18 14:19] teabyii commented on #9
@pahen

Thank you for your PR ! :tada::tada::tada:

We track the things which maybe can be fixed with theme API supports in the future here.

[2017-05-18 14:43] #6 closed

[2017-05-19 12:15] pahen commented on #9
Perfect! 🕺

[2017-05-19 12:33] jwerts opened #10 "Disable dimming of text"
I love this theme - can't find any others I like near as much.  However, the dimming of text in the file list, etc makes it nearly unusable on one of my monitors that's a bit dim.  Is there a way to disable that effect (or lessen) that seems to have been introduced in the last release?

[2017-05-19 12:43] pahen commented on #10
It uses the same colors as the original theme for Sublime Text. But if you want to increase the contrast you can try putting this in your settings.json:

For dark theme:
[code]

For mirage theme:
[code]

[2017-05-19 12:53] jwerts commented on #10
Excellent.  Thank you!

[2017-05-19 12:53] #10 closed

[2017-05-19 22:00] quentez opened #11 "Big fan of the theme, but too dark in last release"
I've been a user of this theme since I switched to VSCode, and I'm a big fan. But with the latest release, panels on the left got themed as well and everything is now very very dark (almost unusable).

Here's an example from my extension list:

<img width="517" alt="screen shot 2017-05-19 at 2 59 32 pm" src="https://cloud.githubusercontent.com/assets/504055/26268329/c9680c94-3ca3-11e7-821f-66f34a4

[2017-05-20 07:29] teabyii commented on #11
See #10 plz.
It uses the same colors as the original theme for Sublime Text. You can try to customize the colors in your settings.json.
Or you can make suggestion to [ayu](https://github.com/dempfi/ayu). If it updates, I will follow as soon as possible.

[2017-05-20 15:03] pahen commented on #5
Think this issue can be closed @teabyii

[2017-05-20 15:13] #5 closed

[2017-05-22 09:24] isidorn opened #12 "Tree selection inactive color not visible"
Click on some tree, like the git changes -> click on the editor. You can not see what is inactivly selected in the tree.

[2017-05-23 22:11] ajitid opened #13 "Change status bar highlight"
Steps to reproduce:
1. Use Ayu Mirage
2. Press Ctrl+M
You'll see green color on status bar, and 'Tab moves focus' is written there, which is barely visible. I think it isn't colored by you. Please provide a color to it for all themes.
3. Press Ctrl+M to turn it off

[2017-05-24 00:55] ajitid commented on #9
Add these too:
[ ] Text selection color (find, search, etc) https://github.com/Microsoft/vscode/issues/25966
[ ] Allow theming of parameter hints https://github.com/Microsoft/vscode/issues/26671

[2017-05-24 06:11] pahen commented on #13
We should use `statusBarItem.prominentBackground` and `statusBarItem.prominentHoverBackground` for this @teabyii

[2017-05-24 06:13] pahen commented on #13
And it's Ctrl+Shift+M to set the accessibility mode for me ..

[2017-05-24 06:14] pahen commented on #9
The "Text selection color" should work already. Can you provide a screenshot where it doesn't work @ajitid? And what version of VSCode are you running?

[2017-05-24 06:42] pahen opened #14 "Use correct colors for input validation"
![screen shot 2017-05-22 at 13 21 46 png](https://cloud.githubusercontent.com/assets/353888/26389916/85a6f77e-405c-11e7-8b96-b06a0f0b7ba5.png)

These keys are available to style this:
[code]

[2017-05-24 07:12] ajitid commented on #13
Ah sorry, it would be Ctrl+Shift+M

[2017-05-24 13:56] ajitid commented on #13
![capture](https://cloud.githubusercontent.com/assets/26769888/26406740/cc315126-40b6-11e7-9307-827d26168f00.PNG)
I'm using default keybinding so it's Ctrl+M for me.

[2017-05-24 14:01] ajitid commented on #9
Latest in stable release, 1.12.2.
Is it available in insiders build and not in stable?

[2017-05-24 15:09] pahen commented on #9
Correct. It was added after 1.12.2 was released. Should work in insiders build.

[2017-05-24 15:11] pahen commented on #9
The same is valid for "Allow theming of parameter hints". Should work in insiders build.

[2017-05-24 16:26] ajitid commented on #9
Okay, removed. Thanks!

[2017-05-24 21:41] brhs opened #15 "Add border between file manager and editor"
![screen shot 2017-05-24 at 2 40 31 pm](https://cloud.githubusercontent.com/assets/1924187/26426776/f64b5cd6-408e-11e7-83d5-21ed2386fc6c.png)

There is no border between the file manager and editor. This is visually jarring and unappealing.

[2017-05-25 10:57] pahen commented on #15
It will be added really soon since it's been added in the VSCode API recently. See https://github.com/teabyii/vscode-ayu/issues/9

[2017-05-25 11:00] pahen commented on #15
See https://github.com/Microsoft/vscode/issues/26530 for more info.

[2017-05-25 11:01] pahen opened #16 "Change the color of warning/error squiggles"
See https://github.com/Microsoft/vscode/issues/9819

[2017-05-25 11:03] pahen commented on #9
I moved out the relevant stuff into own issues so I think we can close this now @teabyii

[2017-06-05 16:23] hellt opened #18 "Custom Icon for Robot Framework .robot files?"
Hi and thanks for this nice fork.

Could it be that you can add a custom icon for `.robot` extension, that is used in Test Automation framework called [Robot Framework](http://robotframework.org/)? Some of the popular themes already have this integration in theirs icon packs.

[2017-06-21 14:00] #12 closed

[2017-06-21 14:00] #13 closed

[2017-06-21 14:00] #14 closed

[2017-06-21 14:00] #15 closed

[2017-06-21 14:00] #16 closed

[2017-06-23 11:14] #18 closed

[2017-06-23 11:16] #11 closed

[2017-06-24 13:04] idiotWu opened #20 "Highlighted buttons in find panel is hard to distinguish"
![screenshot](https://user-images.githubusercontent.com/6022672/27508818-919889aa-5928-11e7-999a-41ba07e70c2f.png)

Like the screenshot above, it's hard to tell enabled buttons from disabled ones. I think the disabled button should be a little more darker.

P.S. The status of buttons in screenshot: 1/1/0

[2017-07-15 00:53] Ikderrr opened #21 "Disable italic in `this`"
Is there any way to disable italic in `this` keyword? I really love this theme and this is the only thing I don't like, so it'd be great if you can show a way to remove this!

[2017-07-18 13:50] taufiqahmed opened #22 "Highlighted Code is hard to Notice"
When you highlight a code and wants to find duplicate by scrolling, it's very difficult to distinguish in colors.

[2017-07-19 08:05] teabyii commented on #22
Which theme? Light, Dark or Mirage? Please put the screenshot here? Thanks.

[2017-07-25 08:02] batjko opened #23 "Allow for tweaking of non-highlight elements"
I really like the Dark version of this theme, as it focuses me on the code and blends out a lot of the distractions from the rest of the editor.

However, a lot of the blended-out bits and bobs (e.g. unedited files in explorer or text in the bottom status bar) are now practically invisible on a lot of my screens, making it very hard to scan for a file or to see some of those details on first glanc

[2017-07-25 09:30] pahen commented on #23
I agree that the contrast in the dark theme is too low and it's something alot of users has complained about. We have used the same colors as the original sublime text theme so not sure if we should stop doing that or try to get the colors changed in original theme changed first. But here's my suggestion to the new foreground that follows the Web Content Accessibility Guidelines (WCAG) 2.0.

Curre

[2017-07-25 10:08] dempfi commented on #23
@pahen current is actually this https://leaverou.github.io/contrast-ratio/#%23515C66-on-%230f1419

[2017-07-25 14:39] pahen commented on #23
Sweet! Didn't know you already fixed this @demfi. Looks much better! Can you update ayu-colors @k15a so we can rebuild this theme to match the updated colors?

[2017-07-25 16:51] k15a commented on #23
Published as version 4. Please ping me if I forget to update the package again :)

[2017-07-25 16:55] k15a commented on #23
It seems that `syntax.gutterFg` is now `syntax.gutter` so you might need to update some things :)

[2017-07-25 17:15] pahen commented on #23
Awesome! Thanks :)

[2017-07-25 17:44] pahen commented on #23
I'm on vacation right now but I'll create a PR as soon as I'm back if not @teabyii already fixed it.

[2017-07-26 15:47] taufiqahmed commented on #22
Sorry for late. Here are the screenshots using all three color theme. I've selected 'function' and see how other instance of function string are hard to notice.

![auymirage](https://user-images.githubusercontent.com/8788600/28630388-f70ba704-724b-11e7-88f2-ae7f5307be9c.PNG)
![ayudark](https://user-images.githubusercontent.com/8788600/28630386-f6fb78ca-724b-11e7-8fed-adc4f9925f94.PNG)
![ayulight](

[2017-07-27 15:14] rafa-acioly commented on #21
I would like to know how to "enable" and "disable", I like the italic in the word "this" and would like to add to the attributes of the html as well.

[2017-07-31 01:46] teabyii commented on #21
@Ikderrr I can't find how to set theme configuration in `setting.json`, Maybe you can fork to make a new one, or just modify the theme files in `~/.vscode/extensions/teabyii.ayu-0.4.0/ayu-[which you use].json`, then reload ayu theme.

The setting is here:
[code]

[2017-08-07 22:01] pahen commented on #23
PR https://github.com/teabyii/vscode-ayu/pull/24 created now @teabyii :)

[2017-08-11 19:47] #23 closed

[2017-08-11 19:48] #9 closed

[2017-08-24 15:20] #20 closed

[2017-08-24 15:30] pahen commented on #20
Fixed and published in v0.6.0

[2017-09-02 20:49] kristianpedersen opened #26 "[Syntax highlighting, JS] Only certain functions calls are highlighted"
**I would like all the functions calls in the screenshot to be yellow:**

![ayu](https://user-images.githubusercontent.com/5204369/29998571-fe6f88e8-902e-11e7-9d26-e79187a7384c.png)

In the if statement, I would expect `getBoundingClientRect()` to be yellow, as well as `clearInterval(animasjon)`. I guess `displayPrice()` is coloured because it's a function I've made.

However, I'm also confused as

[2017-09-06 19:54] pahen commented on #26
How does the official vscode themes looks for you? It does the correct thing?

[2017-09-07 06:29] kristianpedersen commented on #26
Apologies - I must have had an old version of your theme installed.

Things look as expected now that I've updated.

[2017-09-07 06:29] #26 closed

[2017-09-13 00:28] VitorLuizC opened #29 "Extension author nick is hard to see"
The worst of them is the Ayu Dark, but the other themes is also hard to see.

**Screenshots:**
- Ayu Dark
  <img width="414" alt="captura de tela 2017-09-12 as 21 21 00" src="https://user-images.githubusercontent.com/9027363/30354070-c299296c-9800-11e7-8cbe-0c0e7ee17d62.png">

- Ayu Light
  <img width="354" alt="captura de tela 2017-09-12 as 21 25 32" src="https://user-images.githubusercontent.com

[2017-09-13 00:29] VitorLuizC opened #30 "Comments on diff is hard to see"
<img width="459" alt="captura de tela 2017-09-01 as 15 42 46" src="https://user-images.githubusercontent.com/9027363/30354194-75ae9a50-9801-11e7-9ad7-05541953a66c.png">

[2017-09-20 15:25] imoby opened #31 "Missing border on sidebar/left tab"
It seems like there is a border missing in the activity bar/left most tab when the sidebar is closed.
![border gone](https://user-images.githubusercontent.com/6380855/30652436-019d53ca-9dee-11e7-8012-265f93519f39.png)

[2017-09-21 06:57] pahen opened #32 "Bad vertical alignment of icons in sidebar"
<img width="229" alt="screen shot 2017-09-21 at 08 54 25" src="https://user-images.githubusercontent.com/353888/30682634-a3769992-9eaa-11e7-8d07-8736efbcc65e.png">

We probably need to adjust the size of all the icons to fix this. Also ensure we use the updated icons from https://github.com/dempfi/ayu/tree/master/icons

[2017-09-21 16:42] pahen commented on #31
This is fixed in v0.8.0 now :)

[2017-09-21 16:42] #31 closed

[2017-10-03 13:53] wangweixuan opened #33 "Missing Color for Markdown Inline Code"
Color for Markdown Inline Code is missing in all 3 themes.

Expected:
[code]

Actual:
[code]

[2017-10-09 03:20] imoby commented on #22
I definitely second this! I use the mirage theme and when I search or do multiple cursors within a file, it is very difficult to see what is highlighted

[2017-10-12 00:51] sveggiani opened #34 "Syntax coloring seems to be incomplete"
Ayu is my preferred color theme for VSCode but I've noticed that syntax coloring isn't much complete as in another themes.

Please, note the difference with Oceanic Plus in the following screenshot:

![image](https://user-images.githubusercontent.com/560791/31473924-e4694a70-aecd-11e7-91b5-f156f13ecca6.png)

Is this intended or could the coloring be enhanced?

[2017-10-16 06:42] #21 closed

[2017-10-17 13:10] pahen commented on #34
The color theme has not been updated for a very long time and could probably be enhanced a lot. Up for a PR? :)

[2017-10-17 15:11] sveggiani commented on #34
@pahen I've never made a theme before, but I'll try :) cc: @teabyii

[2017-11-09 18:20] atomi opened #35 "Hide Explorer Arrows"
Can we add:

           "hidesExplorerArrows":true

 https://code.visualstudio.com/updates/v1_18#_folder-icons-in-file-icon-themes

Also a *.qtpl definition would be nice.

[2017-11-09 19:30] theobroma opened #37 "Wrong color for plain text and dots in Ayu-mirage"
I fell in love with ayu-mirage from Sublime Text. Now I gave him a break and trying to use VS Code.
I was pleasantly surprised that my favourite theme ported to VS Code. But there is a problem: some elements are not correctly highlighted. On screenshots everything fine except the third one.
![vscode-ayu-dark-withtext](https://user-images.githubusercontent.com/4540573/32624528-333a105a-c592-11e7-92

[2017-11-10 19:12] smlombardi commented on #35
I modified my copy of your theme to do this and, IMO, it looks great:

<img width="289" alt="screen shot 2017-11-10 at 2 10 42 pm" src="https://user-images.githubusercontent.com/835148/32674401-1f2ec350-c621-11e7-8eb8-64f1e8e6456f.png">

[2017-11-10 19:21] atomi commented on #35
Yeah it does. I hope it gets merged.

[2017-11-13 12:33] #35 closed

[2017-11-13 12:43] pahen commented on #35
Included in the v0.9.0 release :)

[2017-11-13 23:13] pahen commented on #37
This is now fixed in v0.10.0

[2017-11-13 23:13] #37 closed

[2017-11-22 10:18] rawkode commented on #35
Eurgh, not a fan. Please make this toggle-able

[2017-11-25 14:55] #33 closed

[2017-12-07 06:56] sternelee opened #39 "can you tell me what the font it is？"
Hi, I like the font in theme, can you tell me what the font it is？

[2017-12-07 07:02] teabyii commented on #39
See: https://github.com/dempfi/ayu#font

[2017-12-15 04:21] #39 closed

[2017-12-22 01:58] ajitid opened #40 "Add warning/error highlights on scrollbar"
"editorOverviewRuler.errorForeground": "#ff3333",
    "editorOverviewRuler.warningForeground": "#ffcc66",

[2017-12-22 08:00] #40 closed

[2017-12-25 18:13] TeeSeal opened #42 "Inconsistent method highlighting."
I've noticed that when typing out methods, some will get highlighted and some won't:

![image](https://user-images.githubusercontent.com/14080148/34342143-d013ee6e-e9af-11e7-9359-e3520bf00c92.png)

![image](https://user-images.githubusercontent.com/14080148/34342157-fe996c28-e9af-11e7-9a2e-d21d48478b3d.png)

Notice how the `post` is colored while the `get` is not. I don't know if this is intended,

[2018-01-02 09:03] pahen commented on #42
What language is this in? I tried Javascript and it works as expected there.

[2018-01-02 13:56] TeeSeal commented on #42
That is javascript 🤔

[2018-01-03 21:44] pahen commented on #42
I can't reproduce this. Is it working for you when you're using other themes? What version of VSCode are you using? And what version of Ayu theme?

[2018-01-04 12:41] sveggiani commented on #42
I can reproduce this. By inspecting the sytax scopes we can see that "get" is not being detected as a function.

![imagen](https://user-images.githubusercontent.com/560791/34563857-2ebab15c-f133-11e7-9545-c917432b4020.png)

![imagen](https://user-images.githubusercontent.com/560791/34563901-4f170a04-f133-11e7-90c9-5e8294e57d0a.png)

My first tought was that this could be related with the length of

[2018-01-04 13:18] pahen commented on #42
Thanks for the info @sveggiani. It detect it as a function for me though.

<img width="463" alt="screen shot 2018-01-04 at 14 15 55" src="https://user-images.githubusercontent.com/353888/34565156-03591bb2-f15a-11e7-9d6a-4cad3c85a6b0.png">

What version of VSCode and which extensions are you using?

[2018-01-04 14:44] TeeSeal commented on #42
**VSCode** 1.19.1
**Ayu**: 0.11.1

**Other extensions:**
- Align 0.2.0
- Bookmarks 0.18.0
- ElixirLS 0.2.9
- ESLint 1.4.3
- file-icons 1.0.7
- Git Lens 7.2.0
- Prettier 1.0.1
- Ruby 0.15.0
- TSLint 1.0.24
- Vetur 0.11.4

And yeah, it works with other themes (not all), Dark+ for example:
![image](https://user-images.githubusercontent.com/14080148/34568342-2749d2fa-f16e-11e7-899c-752dcb5f2253.png)

[2018-01-04 14:49] TeeSeal commented on #42
Maybe it would be a good idea to have coloring for the `support.function` scope?

I'm facing the same issue with ruby, except it's worse:
![image](https://user-images.githubusercontent.com/14080148/34568579-f0b9f3ea-f16e-11e7-9470-cb95e90cab57.png)

The words in yellow are detected as `entity.name.function` and the ones in white as `support.function`, making my statements look like zebras.

[2018-01-04 14:59] TeeSeal commented on #42
I changed one of the rules in the source code of the package by adding `support.function` to the scope:
[code]
Which seems to have fixed my issue, now it looks exactly like I want it to:
![image](https://user-images.githubusercontent.com/14080148/34569112-69912ee0-f170-11e7-9a21-c0992f4bd984.png)
![image](https://user-images.githubusercontent.com/14080148/34569087-5c1e036e-f170-11e7-8e2c-f62af0c41

[2018-01-04 14:59] #42 closed

[2018-01-04 15:59] pahen commented on #42
It could be the extension https://github.com/dzannotti/vscode-babel that solves the issue for me. But I'm up for a PR to fix it for users like you :)

[2018-01-04 17:30] pahen commented on #42
Thanks for the help! Added in v0.11.2 of the theme

[2018-01-31 10:46] hendrikeng opened #46 "italic font support"
Thanks for the great work, i was wondering if italic font support for arguments, comments etc planed ?

[2018-02-02 02:39] teabyii commented on #46
The theme style will follow the source repo, you can post one issue in [ayu](https://github.com/dempfi/ayu).

[2018-02-02 02:39] #46 closed

[2018-02-22 09:57] jwhitmarsh opened #47 "Dim gitignored folders/files"
It would be nice if folders & files that are gitignored were faded out/dimmer than included ones. It looks like this is achievable https://github.com/Microsoft/vscode/issues/178#issuecomment-335511695

[2018-02-22 10:07] jwhitmarsh commented on #47
FYI for anyone coming to this, in Code v1.20.1 you can overwrite/add to theme colors in your preferences:

`
    "workbench.colorCustomizations": {
        "gitDecoration.ignoredResourceForeground": "#b9bbbd"
    }
`

[2018-02-26 03:54] Gal3riel opened #48 "[Questions] What is the font used in the screenshot?"
Hi all, I am very interested in the font used in the screenshot, could someone please tell me the name of it?

[2018-02-28 14:02] pahen commented on #48
Which one of the screenshots are you referring to?

[2018-02-28 21:32] pahen commented on #48
It’s called Operator Mono

[2018-02-28 21:32] #48 closed

[2018-03-03 09:00] teabyii commented on #32
Close this issue for the [new ayu icon](https://github.com/teabyii/vscode-ayu/pull/49).

[2018-03-03 09:00] #32 closed

[2018-03-08 22:28] rpeshkov opened #53 "Ayu Light + TOML. Line is invisible when no value set"
Screenshot:
![screen shot 2018-03-08 at 23 27 05](https://user-images.githubusercontent.com/701068/37180133-3c2e5b6e-2328-11e8-93d7-258b71d6914a.png)

Same strings, but with selection:
![screen shot 2018-03-08 at 23 27 35](https://user-images.githubusercontent.com/701068/37180155-53a5d6aa-2328-11e8-994e-79bc6920503c.png)

[2018-03-14 11:55] steffven opened #54 ".jsx/.tsx icons missing"
<img width="220" alt="screen shot 2018-03-14 at 1 54 43 pm" src="https://user-images.githubusercontent.com/15605543/37400988-4f3f076a-278f-11e8-8bac-198f828eaa7d.png">

[2018-03-14 14:28] karldanninger opened #55 "Working file not highlighted in explorer tree"
Most all other themes show what file is currently being worked on in the sidebar tree. I can't seem to figure out how to change this.

[2018-03-14 14:32] karldanninger commented on #55
Found it

In settings I added the following,
[code]

P.S. Thank you. I moved from Sublime and sorely missed this color theme

[2018-03-14 14:32] #55 closed

[2018-03-30 07:13] teabyii commented on #54
https://github.com/dempfi/ayu/issues/186

[2018-04-12 00:56] THPubs opened #56 "How about adding a light version with a mix of solarized colors?"
Just did some modifications and added solarized background colors. Let me what you think. If good I can make a pr 😄

<img width="1518" alt="screen shot 2018-04-12 at 6 23 24 am" src="https://user-images.githubusercontent.com/1212023/38650567-405d9bde-3e1a-11e8-9505-75be3c89c7c7.png">

[2018-04-12 02:49] teabyii commented on #56
Thank you very much. However, I am very sorry that I can't make decisions on this, a new version of theme color, I keep my best to follow [Ayu](https://github.com/dempfi/ayu). So, please issue for [Ayu](https://github.com/dempfi/ayu).

[2018-04-12 02:53] THPubs commented on #56
Ah no issue! I understand.

[2018-04-12 02:53] #56 closed

[2018-06-09 07:40] skbolton commented on #34
I am ready and willing to take a crack at this. I feel that this themevis falling too far behind Ayu in sublime

[2018-06-22 06:20] SanjayBanjade commented on #34
@sveggiani What's the name of the font you are using in that screenshot?

[2018-06-23 02:52] skbolton commented on #34
Wanted to update those that are interested. I have started doing my best to get the color scheme matching ayu on sublime. There are still things missing and I am not sure how it is going to react with other languages but here is a preview of how it is looking.

The image on the left is the same file in sublime
<img width="2117" alt="screen shot 2018-06-22 at 8 50 32 pm" src="https://user-images.gi

[2018-06-26 08:32] pahen commented on #34
Nice job @skbolton :) Could you provide a screenshot of how that code looks in VSCode without your tweaks too?

[2018-07-18 03:42] idoctor-team-admin opened #59 "git ignored files have same color as common files"
Files and directories ignored by `.gitignore` displayed as same as files which not.
OS: Mac OS 10.13.5
VSCode: v1.25.1

PS: Other themes show colors normally
![_gitignore_ _gas-mailer](https://user-images.githubusercontent.com/40483895/42858141-0c567a76-8a88-11e8-9223-1e3e2a053db6.png)

[2018-07-18 03:52] jerrywdlee commented on #59
@idoctor-team-admin
This one may be some help

![settings_json_ _gas-mailer](https://user-images.githubusercontent.com/10390079/42858376-3e526dfe-8a89-11e8-8a70-3c3c3274d2f2.png)

![settings_json_ _gas-mailer](https://user-images.githubusercontent.com/10390079/42858390-5197c788-8a89-11e8-8e54-188c7fd9ed5d.png)

Refer: https://code.visualstudio.com/docs/getstarted/theme-color-reference#_git-colors

[2018-08-06 09:05] nscmnto commented on #34
@skbolton looking good so far! I'd love to test it out.

[2018-08-06 14:56] skbolton commented on #34
Sorry guys I dropped off there. I also code in elixir and whatever I did broke the highlighting of it pretty bad. I am going to make another run at this and see if I can get it there again while supporting highlighting if other languages as well

[2018-08-06 18:01] mrtkrcm commented on #34
would love to see full syntax support for JS with Ayu Dark 🤩

[2018-08-06 18:04] skbolton commented on #34
@mrtkrcm the bottom photo in my post above is the dark version

[2018-08-06 18:06] mrtkrcm commented on #34
Do you have that somewhere already? or can you push your changes to somewhere as a PR or updated fork?

[2018-08-08 03:57] skbolton commented on #34
@mrtkrcm I will put some work into it this weekend and post an update/pr here in the repo. The first pass will be updating the color palette. After that I might tackle customizing the ui separation lines and what not

[2018-08-08 09:29] pahen commented on #34
Just wanted to let you know that work on this has already been started by the author of the original Sublime Text theme. See https://github.com/teabyii/vscode-ayu/pull/60

[2018-08-08 21:00] skbolton commented on #34
oh nice well lets close this issue then!

[2018-08-09 07:34] pahen commented on #34
Closing in favour of https://github.com/teabyii/vscode-ayu/pull/60

[2018-08-09 07:34] #34 closed

[2018-08-16 08:33] dempfi commented on #59
Fixed in #60.

[2018-08-16 08:34] dempfi commented on #53
Fixed in #60. Errors now are shown in red.

[2018-08-16 08:34] dempfi commented on #47
Fixed in #60.

[2018-08-16 08:35] dempfi commented on #30
@VitorLuizC last release should have improved that. Can you verify?

[2018-08-16 08:36] dempfi commented on #22
@taufiqahmed latest release introduced some improvements in this area. Can you check and give feedback?

[2018-08-16 10:54] taufiqahmed commented on #22
Thanks, I will check it out.

On Aug 16, 2018 2:36 PM, "Ike Ku" <notifications@github.com> wrote:

@taufiqahmed <https://github.com/taufiqahmed> latest release introduced
some improvements in this area. Can you check and give feedback?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/teabyii/vscode-ayu/issues/22#issuecomment

[2018-08-16 20:40] #30 closed

[2018-08-17 18:18] M-Porter opened #61 "Most Recent update changed theme colors"
It seems as though magenta/purple has been completely removed in favor of yellow, orange and a rustic red (which has 0 contrast difference to orange). It also seems as though the contrast has been greatly decreased making it much harder to see gutters and separators.

## New TS
![image](https://user-images.githubusercontent.com/2313263/44281659-5e968f00-a20d-11e8-8b8b-b94b002ae473.png)

## Old TS

[2018-08-17 20:13] joshtynjala commented on #61
I definitely miss that purple/violet color. Please bring it back!

Additionally, I hate that the status bar now changes to an orange/coral color during debugging. The high contrast is very distracting, and it contradicts the following line from the changelog:

[2018-08-18 10:09] rpeshkov commented on #53
@dempfi thanks!

[2018-08-18 10:09] #53 closed

[2018-08-18 16:00] batjko commented on #61
I code mostly in Javascript and have used Ayu dark for a long time now.
Every now and then I look at other themes but always decide not to switch, because the syntax colors were just the most beautiful I can find.

The recent change introduced this dull grey for standard tokens for some reason, and `require` is now weirdly red and it all just annoys me now.

I really hope this was a mistake and it

[2018-08-18 18:35] blakeperdue commented on #61
I also noticed that the borders around tabs and around the top and bottom bars in VS Code have been removed. Was this intentional? It is much harder to visually separate those different parts of the interface now:

![image](https://user-images.githubusercontent.com/1642071/44302315-e9ea5000-a2f3-11e8-9a19-1ef2ac77b700.png)

[2018-08-18 18:36] blakeperdue commented on #61
imho, the old UI with the light borders looked better:
![image](https://user-images.githubusercontent.com/1642071/44302322-09817880-a2f4-11e8-8a22-8ce49b1b98d1.png)

[2018-08-20 12:57] balajmarius commented on #61
Managed to add back some of the missing borders on `Ayu-Mirage` using the following config:

[code]

[2018-08-20 18:03] M-Porter commented on #61
@balajmarius `#39424E` is the color for the gutter as defined at https://github.com/ayu-theme/ayu-colors if you feel like being _super_ particular about it

[2018-08-20 18:16] M-Porter commented on #61
Unfortunately (to those of us in this thread), it seems as though the new updates actually make the colors fall in line with the official Ayu sublime theme

![image](https://user-images.githubusercontent.com/2313263/44358600-5be4a580-a46a-11e8-8764-092accb81ee4.png)

If that is the case then not much can be done about it as that theme is the source of truth.

[2018-08-20 19:47] alexsasharegan commented on #61
Is anyone else having trouble with the selection areas not being very visible? I often rely on the selection showing me other usages, and they just don't light up strongly or even consistently.

Here's an example where I have `hits` selected. The selection and the usage below are dim, while above is bright and what I would prefer consistently.

![image](https://user-images.githubusercontent.com/16

[2018-08-20 20:26] batjko commented on #61
@alexsasharegan I think that's already logged under https://github.com/teabyii/vscode-ayu/issues/22

[2018-08-20 21:44] alexsasharegan commented on #22
I'll plus one this as a big dark theme user. Here's my example I had posted to a different issue thread:

Here's an example with *Ayu Dark* where I have `hits` selected. The selection and the usage below are dim, while above is bright and what I would prefer consistently.

![image](https://user-images.githubusercontent.com/16269252/44362850-2abea200-a477-11e8-8d19-be7a28d15d55.png)

[2018-08-20 21:45] alexsasharegan commented on #61
@batjko , I've moved my comment to #22. Thanks for pointing me in the right direction!

[2018-08-21 01:57] dempfi commented on #61
Hey guys, I hear what you are saying and I promise to think on balancing the colours in the theme (function arguments need different colour, that's given). Some other stuff like removal of some borders aren't final and might change too. Anyhoo, thank you all for the feedback 🤗

[2018-08-21 03:28] alexsasharegan commented on #61
Great work on this theme! It's my main stay for sure! Thanks for taking the feedback into consideration!

[2018-08-21 14:57] blakeperdue commented on #61
+1 on the work on this theme, I certainly appreciate it.

@M-Porter or @balajmarius do you have the `colorCustomizations` names to bring back some of the old magenta/purple colors for more contrast? For now, I manually reverted back to 0.14.0: https://github.com/blakeperdue/vscode-ayu

[2018-08-21 15:13] alexsasharegan commented on #61
As a side note, if you're trying to customize some of these colors and you've ever used material design themes, they make some global adjustments to your selection colors.

[2018-08-21 18:52] M-Porter commented on #61
@blakeperdue i haven't had the time to look into it. been crazy busy the past few days. if i do get around to it i'll make sure to create a gist and post it here

[2018-08-21 22:11] dempfi commented on #61
Arguments colours are fixed in #62. It would be cool if you guys would be able to test it.

[2018-08-21 22:52] alexsasharegan commented on #61
How would we test it? Just dump the settings into our settings under `"[Ayu Dark]"`?

[2018-08-22 01:03] blakeperdue commented on #61
@alexsasharegan You can clone that repo and manually [copy the repo](https://github.com/ayu-theme/vscode-ayu/tree/function-arguments-colors) into your extensions folder (`~/.vscode` on mac).

@dempfi Looks like your PR works, commented on it at #62 .

[2018-08-22 01:11] alexsasharegan commented on #61
Looks like it's the same for linux. I'll give this a go!

[2018-08-27 05:00] funct7 commented on #61
<img width="1091" alt="screen shot 2018-08-27 at 1 57 46 pm" src="https://user-images.githubusercontent.com/12147008/44641352-7803bc00-aa01-11e8-8e8c-478945b03fea.png">
<img width="1060" alt="screen shot 2018-08-27 at 1 57 52 pm" src="https://user-images.githubusercontent.com/12147008/44641353-7803bc00-aa01-11e8-82a9-02666969a87c.png">

The new color scheme is **NOT** ayu at all.

[2018-08-27 08:55] aengl commented on #22
I'd agree that this is still my biggest issue with the theme. I've been using it with this customisation for a long time now:

[code]

Not that I'm suggesting that this is a good solution, but it's a good enough workaround for me.

There definitely have been some noticeable improvements recently, though. Especially the added borders for find matches really help. Thank you for your work on this ext

[2018-08-27 14:20] alexsasharegan commented on #22
Agreed, those borders are both visually helpful and good looking.

[2018-08-30 04:31] taufiqahmed commented on #22
The latest release 0.15.0 has fixed the issue. Now the highlights are more prominent.
Here is the screenshot of my favourite Ayu Mirage:

![image](https://user-images.githubusercontent.com/8788600/44829657-aa9af800-ac3f-11e8-95b6-ca1bc8b348d8.png)

Thanks a lot.

[2018-08-31 20:55] dempfi commented on #61
OK guys, fix for functions args colours have been released.

@funct7 yeah, markdown-related colours are a "bit" off. Preparing a fix now.

[2018-09-09 16:33] apcamargo opened #63 "Add support for italics"
There are many coding fonts such as IBM Plex Mono and Operator Mono that offer true and beautiful italics. It would be nice if One Dark Pro supported italics.

- [Commit that added italics support to the Material Theme](https://github.com/equinusocio/vsc-material-theme/commit/ea9b7551ccf277b1ffe0dddcd31fd252e5521f97)

[2018-09-11 09:44] saifahn commented on #61
I didn't see much positive feedback for the recent changes, so I just wanted to say that I actually do like the colours being closer to the Sublime theme.

[2018-09-11 09:50] dempfi commented on #61
FYI guys, I'm still fine-tuning an update to improve overall experience of the theme and address your feedback (indirectly). There are still few things for me to work on but otherwise it's really close to being ready.

@saifahn thx 🤗

[2018-09-13 10:41] jerrywdlee opened #65 "Transparency for `wordHighlightBackground` for ayu-light"
Settings in `ayu-light.json` for `editor.wordHighlightBackground` is `#ecf4f9`, which let the overlapped range hardly to distinguish.

Transparency for `editor.wordHighlightBackground` may help I think.

https://github.com/teabyii/vscode-ayu/blob/master/ayu-light.json#L63

Refer: https://github.com/Microsoft/vscode/issues/49700#issuecomment-388780275

[2018-09-29 09:35] Loreno10 opened #66 "Contrast is very low"
Hello,
I just installed Ayu and I noticed that actual theme looks a bit different than the screenshots shown in Extensions of VS Code.
Here's my screen:
![zrzut ekranu 2018-09-29 o 11 30 59](https://user-images.githubusercontent.com/10273406/46244207-a8ad8b80-c3db-11e8-8074-d4fd2e597538.png)

FOr exmaple, look at the icons on the left-panel of VS Code. They are barely visible, while on the extensi

[2018-09-30 17:47] edwardloveall commented on #66
@Loreno10 I've had this same issue. Thanks for reporting it. Unless we both have bad setups, it seems like the screenshots are definitely a mismatch. If I had to guess, I think it would be this PR that changed it: https://github.com/teabyii/vscode-ayu/pull/60

[2018-09-30 18:50] Loreno10 commented on #66
@edwardloveall Yes, I think you're right. Honestly I don't know how they accepted this into main branch. I understand that editor should focus on the code the most, but right now it's done not right. I hope it'll be changed.

[2018-10-01 01:39] edwardloveall commented on #66
Another thing that I just thought of is that macOS Mojave disables font smoothing (subpixel antialiasing). I recently upgraded to it and it's making a lot of fonts harder to read. I just disabled it and here's what my theme looks like now:

![screenshot of the Ayu dark theme in VSCode](https://user-images.githubusercontent.com/49549/46265934-23b89400-c4f9-11e8-940e-e39c666ba5f6.png)

Much more rea

[2018-10-26 14:07] ccaspers opened #68 "Light Theme: White Terminal Color unreadable"
When using the light theme, the terminal's white color should be rendered as grey/black. In its current form, certain outputs are unreadable. I attached some screenshots to show what I mean:

- Ayu Light
![terminal-ayu-light](https://user-images.githubusercontent.com/2117023/47571430-cd444700-d938-11e8-9c07-fa571aabc221.png)
- Light (Visual Studio)
![terminal-vscode-default](https://user-images.gi

[2018-10-30 11:30] ccaspers commented on #68
Fixed it in https://github.com/teabyii/vscode-ayu/pull/69

[2018-11-07 19:59] dempfi commented on #61
Hey guys, I'm sorry for delay in response — it took me a while to find time to polish and extensively test updates.

Anyhoo, WIP PR is here https://github.com/teabyii/vscode-ayu/pull/70 and I welcome all you to give it a shot.

---
Steps to install it:
- Download bundled theme [from here](https://github.com/teabyii/vscode-ayu/blob/e406f9aa17473019985625adc09947c673111a7d/ayu-0.16.0.vsix);
- In you

[2018-11-08 08:44] pahen commented on #61
I really like your latest changes @dempfi. Awesome work as always :) Time to make this theme official and maintained by you maybe? ;)

[2018-11-11 11:45] dempfi commented on #61
@pahen I'm glad you liked it. This repo probably can be moved to the [ayu-theme](https://github.com/ayu-theme), tho I believe such decision should be made by @teabyii.

[2018-11-14 13:00] teabyii commented on #61
I feel OK to move it to the [ayu-theme](https://github.com/ayu-theme). @dempfi Please remove the fork in ayu-theme, and I will do it.

[2018-11-14 13:06] dempfi commented on #61
@teabyii done :)

[2018-11-15 02:30] teabyii commented on #61
@dempfi I have no permission to create repositories on [ayu-theme](https://github.com/ayu-theme).

[2018-11-22 12:47] rahilwazir commented on #48
Hmm, not sure if the screenshot was updated but the fonts in the screenshot don't look Operator Mono to me? What variant are you using if its Operator Mono?

[2018-11-26 09:11] Astrantia opened #71 "PDF Icon Not Working"
![image](https://user-images.githubusercontent.com/32885386/49004051-62518000-f131-11e8-8c07-bd7e39a2b9da.png)
is shown for pdfs. Is this supposed to be so?

[2018-11-26 18:21] M-Porter commented on #61
Thanks for the updates @dempfi ! Looks great now. Closing as i feel my initial comments have been well address and solved

[2018-11-26 18:21] #61 closed

[2018-11-27 03:35] teabyii commented on #71
There is no icon for pdf file now, sorry.

[2018-11-27 05:54] Astrantia commented on #71
@teabyii https://github.com/teabyii/vscode-ayu/blob/master/icons/file_type_pdf%402x.png what is this then?

[2018-11-28 03:32] teabyii commented on #71
Sorry, I miss it. I will fix it soon.

[2018-11-29 04:33] Astrantia opened #72 "Make items in navigation tree stand out more in dark"
![image](https://user-images.githubusercontent.com/32885386/49199449-dffdd180-f365-11e8-83cf-6f0ab124fe5a.png)

The items in the explorer are barely visible. Color is fine but it's way too dark. Can brightness be increased somehow?

Compare the grey text from terminal:
![image](https://user-images.githubusercontent.com/32885386/49199496-091e6200-f366-11e8-85f3-70875d779e6a.png)

to the grey text i

[2018-11-30 18:57] Astrantia commented on #72
@teabyii this is especially an issue in ayu dark. Text cant be seen at all

[2018-12-03 10:21] alexmccabe commented on #63
This will make the italics behave the same way as the Night Owl theme. Pop it in your user settings.

[code]

[2018-12-10 13:51] dohyeunglee opened #73 "[Question] Font used in README header image"
Can anyone let me know the font name used in README header image(screenshot)?

I searched previous issues in this repo and other ayu repo but I only found "Operator mono" and

"Roboto Mono" which are not correct. Someone says it's Pragmata pro. is it correct?

[2018-12-23 10:48] #47 closed

[2018-12-24 03:32] srid commented on #73
There is no answer to this question yet. See also https://github.com/ayu-theme/vscode-ayu/issues/48

[2018-12-28 02:15] dempfi commented on #73
@dohyeunglee hey, those who say PragamataPro are correct. I use PragamataPro and took the screenshots with it.

[2018-12-28 02:15] #73 closed

[2018-12-28 02:19] dempfi commented on #72
@Astrantia that was the intention behind the dark theme — focused coding (contrast editor) during deep night with all lights off. Mirage is better suited for comfortable work with lights on.

However, I would really appreciate if you could describe your workflow and what aspects of the dark theme are the most appealing to you so we could improve it and overall experience.

[2018-12-28 02:21] dempfi commented on #68
Hi @ccaspers, could you check please if the latest fixes the issue for you. If not, let's see if we can push your PR :)

P.S. Sorry for the delay in response — I accidentally turned notifications off for the repo :/

[2018-12-28 02:31] dempfi commented on #22
Hey guys, closing this issue. Seems like we've addressed most of the problems. If you feel otherwise please don't hesitate to reopen or submit new one :)

[2018-12-28 02:31] #22 closed

[2018-12-28 02:40] dempfi commented on #48
@rahilwazir yep, the current screenshots show the theme with PragmataPro.

[2018-12-28 03:59] edwardloveall commented on #66
It's certainly better for me! Thanks for the updates!

[2018-12-29 17:46] ccaspers commented on #68
@dempfi no problem, glad you saw it anyway :) I updated my pull request. The issue remained after the latest update as brightWhite for the light variant still was at #FFFFFF. I chose #D1D1D1 rather arbitrarily. If the original ayu colors provide a grey with a similar brightness, we should probably choose that instead.

[2019-01-05 04:43] #68 closed

[2019-01-05 04:45] dempfi commented on #68
Merged. @ccaspers Thank you very much for your contribution 🙏

[2019-01-18 10:10] ccaspers opened #74 "Release next version?"
It has been two months since v0.17.0 and I would really like to have the changes of #69 in the central version. Is there anything that still needs to be taken care of that prevents a release?

[2019-02-01 13:42] Gaspacchio opened #75 "Add Webpack icon"
I just noticed that the Webpack icon is not shown when creating a webpack config file. It would be nice if it could be added to this already beautiful icon pack. The file name is `webpack.config.js`.

I don't reallly know if this is the place to request a new icon but I thought why not trying?

[2019-02-02 12:00] dempfi commented on #74
@teabyii could you please publish the next version, it seems I don't have enough rights :)

[2019-02-04 12:03] megaDRONe86 commented on #65
I have exactly same problem and it is very annoying. Look this example it's impossible to see selected tex here:
![selection issue](https://user-images.githubusercontent.com/2099768/52207292-0f611b00-288e-11e9-857e-103c168c1c43.gif)

[2019-02-14 01:19] billy98 opened #76 "ext command not found"
ext command not found，What packages do I need to install in order to have ext commands?

[2019-02-14 14:25] teabyii commented on #76
Sorry, the command `ext install ayu` is outdated. You can use `Extensions Install Extensions`. More details: https://code.visualstudio.com/docs/editor/extension-gallery

[2019-02-14 14:25] #76 closed

[2019-03-03 15:03] JKawmi opened #77 "weird background issue with ayu dark"
![image](https://user-images.githubusercontent.com/13506188/53697035-43682700-3dcd-11e9-86ae-2636f3393a70.png)

![image](https://user-images.githubusercontent.com/13506188/53697040-4cf18f00-3dcd-11e9-9f3d-c39c788fe704.png)

As you can see from the two images, there is a different background color on the right of the editor and at the bottom under the last line of code. I have tried to reproduce th

[2019-03-10 19:16] trangcongthanh commented on #77
I got same issue with Mirage :( But Dark version work as well

[2019-03-22 16:20] nicolas-cherel opened #78 "Focus and mouse over should have different colors (eg. in palette)"
| Ayu | VS theme |
| -- | -- |
| ![image](https://user-images.githubusercontent.com/208296/54837354-6d26b680-4cc6-11e9-97e7-c9ad952d30d8.png) | ![image](https://user-images.githubusercontent.com/208296/54837395-8f203900-4cc6-11e9-8614-4ba592d8f190.png) |
| palette show no difference between mouse over and focused element | vs code theme shows colors for focused element |

[2019-04-09 11:54] kleinfreund commented on #72
There is a big difference between avoiding distraction and making things illegible. I’d very much like this color scheme to feature a significantly increased contrast for all UI parts that are not an editor.

[2019-04-09 12:22] kleinfreund commented on #72
@dempfi As this is the scope of this issue, I’m talking about the dark theme in particular. Also, the low contrast is most obvious in the dark theme. The other variants have slightly better contrast because they’re lighter in general.

[2019-04-09 12:23] dempfi commented on #72
@kleinfreund I see, in what environment do you use the dark theme? Daylight/dim lights/no lights?

[2019-04-09 12:30] kleinfreund commented on #72
@dempfi I just installed the theme so I don’t have much experience with this particular theme in my common environments.

Usually, I work during the day in a regulalry-lit room. If it’s dark outside, I have lights on. Considering what you stated earlier about the intention of the dark theme, I’m very much not the target audience.
So increasing the contrast for the dark theme might not be in the in

[2019-04-22 00:29] muhammadridho commented on #71
I've just pull requested for this issue
https://github.com/ayu-theme/vscode-ayu/pull/80

[2019-04-22 00:30] muhammadridho commented on #71
I've just pull requested for this issue
https://github.com/ayu-theme/vscode-ayu/pull/80

[2019-06-04 09:17] roflomglol opened #81 "Snippets background contrast"
Hey there!

I'd like to suggest changing colour of particular setting for the light theme:

`editor.snippetTabstopHighlightBackground`

By default it looks something like this:

![image](https://user-images.githubusercontent.com/1122536/58865711-b9777500-86bf-11e9-8274-d843a382aafc.png)

Maybe change it to something like this?

![image](https://user-images.githubusercontent.com/1122536/58865822-ec

[2019-06-15 16:41] zackkrida opened #82 "JavaScript Template Literal Highlighting"
Love the theme and it looks great! Quick feedback, when writing template literals in javascript, like so:

[code]

Most themes make the "${" and "}" a distinct color so that it's obvious that they're not being output in the string. Here's a comparison to the 'Horizon" theme:

<img width="859" alt="Screenshot 2019-06-15 12 38 27" src="https://user-images.githubusercontent.com/6351754/59553979-da1ab

[2019-06-25 23:58] AllThingsSmitty opened #83 "Icons for Salesforce Lightning components"
It would be great to have file icons for Saleforce Lightning component files. Lightning packages different file types together: JS, CSS, but also .cmp, .evt, and .auradoc file types. The .cmp file is basically the markup wrapped in <aura>, but it would certainly help having icons for these.

![screenshot](https://user-images.githubusercontent.com/1682367/60189058-57151e80-97fe-11e9-8007-4d3866cd41

[2019-07-30 15:45] rtbo opened #86 "Icons for C/C++ header files"
There is icons for extension `.hpp`, but not for extension `.h`.

[2019-07-31 23:13] JacksonKearl opened #87 "Mirage: added comments in diff view are unreadable"
<img width="626" alt="image" src="https://user-images.githubusercontent.com/8586769/62254464-16389880-b3ae-11e9-8259-388cdd57d3c0.png">

[2019-08-08 23:06] Nuc1eoN opened #88 "Add svelte icon"
Hi, first of all thanks for the great theme pack! <3

I have noticed that a dedicated icon is missing for [svelte](https://svelte.dev/) files. Would you be able to add one? :)

[2019-08-08 23:11] Nuc1eoN commented on #75
Same for [Rollup](https://rollupjs.org/guide/en/) and it's corresponding `rollup.config.js` actually :)

[2019-08-14 09:16] AlexDemzz commented on #72
Use this https://marketplace.visualstudio.com/items?itemName=allmeta.ayu-dark-meta

[2019-10-14 17:04] kinghat commented on #66
maybe its just me but i feel like the side bar icons, explorer file name text, window tab text and the breadcrumb texts are hard to see. basically all the text non editor text. my monitors probably arent helping either:

![image](https://user-images.githubusercontent.com/16073360/66769415-b7e26880-ee7a-11e9-8b4c-ad02435da0a3.png)

[2019-12-07 10:18] akrsnr opened #90 "possibility for Visual Studio 2019"
Would you mind adapting the ayu themes to VS2019?

[2019-12-20 17:57] gl00m3r commented on #82
Hello.
You can fix it easily. I did it for myself.
[code]
Just add this code for your _settings.json_.

[2020-02-08 18:08] tamj0rd2 commented on #66
I also have some problems with the contrast to the point where I can't use the theme anymore. I might fork it and play around with it for a bit.

[2020-02-10 09:09] thomasbrus commented on #66
You can override the theme colors in `settings.json` like below. Should be a lot better already 👍

[code]

[2020-02-15 17:15] tamj0rd2 commented on #66
Thanks, that's a huge improvement! I've also added this line for git ignored files:
[code]

[2020-04-15 06:20] muuvmuuv opened #92 "Possible to change the highlight color?"
I would like to change the orange of Ayu Light Bordered to something else, is that possible?

[2020-04-23 14:43] aeschli opened #94 "Adopt semantic highlighting"
Since 1.43, VSCode themes can take advantage of [semantic highlighting](https://code.visualstudio.com/docs/getstarted/themes#_semantic-highlighting).

Every theme controls whether semantic tokens are enabled. So far, only built-in themes have it enabled and I filed this issue to ask you to opt-in for the ayu theme as well.

Adoption is easy and there are new cool styling possibilities.

To turn on

[2020-05-19 14:31] danechitoaie opened #96 "Highlight color is barely visible"
Hi, this theme is awesome so thank you and good job!
But I have a problem on Ayu Miraje Bordered with the color used to highlight the text when it's selected. It's barely visible and I have trouble seeing what's selected and what not.
Here's an example bellow: (asds is selected, while the last two ss are not
<img width="621" alt="Screenshot 2020-05-19 at 17 28 28" src="https://user-images.githubus

[2020-05-20 15:18] thisVioletHydra commented on #94
true

[2020-05-27 00:40] Luke-Gurgel opened #97 "Add graphql icon"

[2020-06-15 20:44] dempfi commented on #96
Hi @danechitoaie, this was addressed in the recent release. How do you like it?

[2020-06-15 20:47] dempfi commented on #65
I've improved this behavior again in the most recent release, do you guys find it useful?

[2020-06-15 21:02] danechitoaie commented on #96
Awesome. Thank you.

[2020-06-15 21:02] #96 closed

[2020-06-16 00:09] rilex037 commented on #72
this theme would be perfect only if this items are a bit brighter, even more so cause i dim my screen while i'm coding in dark
![image](https://user-images.githubusercontent.com/44920715/84717523-54af5580-af76-11ea-91a4-ad484e323fe5.png)

[2020-06-16 01:55] #75 closed

[2020-06-16 01:55] #86 closed

[2020-06-16 01:55] #97 closed

[2020-06-16 05:52] megaDRONe86 commented on #65
@dempfi if you merged my pull request then should be fine. I override this setting somewhere and now can't remember where to remove it so I can't check your update unmodified.

[2020-06-16 18:10] asiimwedismas opened #101 "Consider reverting the following"
1. "selection.background": "#273747"
The selection background in the Find input (Ctrl F) doesn't show with this new setting, consider changing it back to #273747fd
![slection](https://user-images.githubusercontent.com/51087315/84811587-c4285200-b015-11ea-9bbd-f11aea7b451b.png)

2. "descriptionForeground": "#ff3333"
Red and orange don't go well together on the welcome page. Also, consider reverting

[2020-06-16 18:17] dempfi commented on #101
@asiimwedismas oh my, thank you for reporting

[2020-06-16 18:22] dempfi commented on #101
Published a fix

[2020-06-16 18:22] #101 closed

[2020-06-16 18:24] dempfi commented on #94
I'll look into this, can't promise much though

[2020-06-16 18:30] asiimwedismas commented on #101
Great, was just about to create a pull request for it. Otherwise, great theme

[2020-06-16 18:31] dempfi commented on #101
You can still create a pull request with other improvements 😉

[2020-06-16 18:42] dempfi commented on #92
Hi @muuvmuuv, it kinda is and isn't. We can't have it controlled from settings to be able to switch easily, we can only apply it globally. You can however fork the theme and apply changes to the fork.

I myself too want to change some of the accents, but not yet sure how to approach that as it is gonna be a massive change the identity of the theme.

[2020-06-16 18:43] dempfi commented on #90
Hi @akrsnr, I'm sure what that entails — the amount of work, what kind of work, etc. If it's automated, I think it should be possible. However, AFAIK, VS is still windows only and I don't have windows machine to test it.

[2020-06-16 18:48] dempfi commented on #81
@roflomglol I did a bit of contrast related changes in that area recently. Is issue still present?

[2020-06-16 18:51] asiimwedismas commented on #72
@rilex037   head over to settings .json > add the "blow" in the file

"workbench.colorCustomizations": {
 #This is where you change the few aspects of the theme you don't like. Otherwise, I doubt it would be possible to make the theme to every user's liking. happy coding mate 😃 
}

[2020-06-16 18:53] dempfi commented on #72
Guys, I did quite a lot of contrast related changes for dark theme in the recent release. What's you opinion on those?

@rilex037, I don't have that context menu (I see native OS menu) to test it. I'll see what I can do to repro. For now, @asiimwedismas advice is a good place to start.

[2020-06-16 18:53] #71 closed

[2020-06-16 18:55] dempfi commented on #29
Yeah, I want to fix every time I get to touch the theme and every time there's no option for that. I'll double check the next time.

[2020-06-16 19:14] muuvmuuv commented on #92
Hopefully VS Code will add something like globally primary and secondary colors that themes can use and give a default value which users then can override.

[2020-06-17 09:43] roflomglol commented on #81
@dempfi I would say yes, it still is:

![image](https://user-images.githubusercontent.com/1122536/84882541-1316cb80-b098-11ea-82a9-96bdbb2974a9.png)

[2020-06-18 19:38] rediffusion opened #103 "Disable or delete unwanted themes from collection."
Hi! 🙂

 I like only `Ayu-Light` how can I delete or maybe somehow disable all other themes?

For builtin themes I find settings:

Cheers!  😀

[2020-06-19 06:23] rilex037 commented on #72
@asiimwedismas thanks, I did some customization and it looks my better, just couldn't find the values for selected items, whenever i select something, it looks same as disabled.

![image](https://user-images.githubusercontent.com/44920715/85102985-14fe9d00-b206-11ea-947e-75b4cca64bdc.png)

[2020-06-19 06:33] rilex037 commented on #72
sorry, found it
[code]

[2020-06-21 07:20] parthe opened #104 "Icon for ipynb"
Now that VSCode has support for editing .ipynb files (Jupyter notebooks)
I think the .ipynb format deserves a font of its own

[2020-06-21 07:30] dempfi commented on #104
Great point, thank you @parthe. I’ll look into that.

[2020-06-26 18:20] eduardocanellas commented on #66
Hello! I agree about the contrast, especially on Ayu Dark. Currently, the text which is not inside the editor is a bit hard to read. I made some color customizations (as suggested above) and it's really nice now. In my case, the color 586173 worked very well.

[2020-06-28 15:37] pouryax7x commented on #61
I had a problem with color of "editorSuggestWidget.selectedBackground" ...
I was really confused as to which option was chosen when i have two or three number of suggestion as u can see in first picture .

<img width="455" alt="aa" src="https://user-images.githubusercontent.com/18659000/85951754-6cc1a480-b97a-11ea-88a2-d0a8d82e145a.png">

so i decide to change color with :
`"workbench.colorCustomi

[2020-07-15 14:59] datguyducky opened #105 "Icon for tailwindcss"
I think the Tailwind CSS deserves a icon of its own - e.g for _tailwind.config.css_ file

[2020-08-07 09:25] EriKWDev opened #106 "Incorrect Highlighting for functions within ``-strings in JavaScript"
I seem to have discovered an edge-case where \`\`-strings in JavaScript aren't highlighted correctly using the Ayu theme. As you can see in the images bellow, the `({})`:s of the object defined within the evaluated function within the ``-string gets highlighted incorrectly.

## Built-in theme
![image](https://user-images.githubusercontent.com/19771356/89630794-20825200-d8a0-11ea-8d07-8a7c87e6eaec.

[2020-08-14 21:51] andreiborisov opened #107 "Improve margin with Activity bar hidden"
When Activity bar is hidden, Explorer seems to be a little bit cramped do the edge compared to the original ayu theme. Would be nice to increase the margin between the window edge and Explorer a bit:

VS Code:
![CleanShot 2020-08-15 at 00 46 03@2x](https://user-images.githubusercontent.com/13354491/90295177-e82ad700-de90-11ea-931b-75fdce62c3f7.png)

Sublime Text:
![CleanShot 2020-08-15 at 00 46 11

[2020-08-14 22:18] andreiborisov commented on #107
Perhaps, something like this, where a caret is inline with a status bar and Explorer icons are inline with EXPLORER title text:

![CleanShot 2020-08-15 at 01 18 09@2x](https://user-images.githubusercontent.com/13354491/90296794-3f32ab00-de95-11ea-8635-c32b663ef962.png)

Looks way cleaner to me.

[2020-09-04 19:06] douglasrizzo opened #108 "Consider providing extension in open-vsx.org"
http://open-vsx.org is an open registry for extensions targeted towards VSCode-compatible editors, such as VSCodium, the open, MIT-licensed version of VSCode. People who use this open version of VSCode cannot install this extension and providing it on open-vsx would solve that. Thank you.

[2020-09-12 09:56] meduzen commented on #108
Is there a workaround to install it in the meantime?

[2020-09-23 10:36] bmarvinb opened #109 "What font name?"
Hi, what font name is using on preview screens?

[2020-09-23 17:34] #109 closed

[2020-09-26 05:54] douglasrizzo commented on #108
Yes, it is described here (for VSCodium): https://github.com/VSCodium/vscodium/blob/master/DOCS.md#extensions--marketplace

[2020-11-14 14:58] meduzen commented on #108
Someone made it available for Codium a month or so, and it’s working well. 👍

[2020-11-20 21:15] douglasrizzo commented on #108
Great!

[2020-11-20 21:15] #108 closed

[2021-03-25 06:49] weiameili opened #112 "Icon Request: JuliaLang"
Hi could we please get an Icon for .jl file (Julia)

[2021-04-27 20:40] misolori opened #115 "Add secondary button styles"
VS Code will start using the secondary button style in custom dialogs. These are visible on Windows and on the web (i.e. Codespaces). To see this:

1. [Install Insiders 1.56](https://builds.code.visualstudio.com/builds/insider)
2. Set `"window.dialogStyle": "custom",` in your user settings
3. Try to close an unsaved file that will prompt the dialog below

![image](https://user-images.githubusercon

[2021-05-04 08:03] bmarvinb opened #116 "Icon for mjs file"
Please add js icon for .mjs

[2021-05-04 08:36] bmarvinb opened #117 "Icon for csv"
Please add icon for csv

[2021-05-10 06:17] bmarvinb opened #118 "Icon for erb"
Icon for ruby template

[2021-07-13 07:29] avborup opened #120 "Hover in status bar in debug mode makes text unreadable"
The status bar when debugging becomes red:

![image](https://user-images.githubusercontent.com/16561050/125409700-7454bf80-e3bc-11eb-81e8-0ec79e4c65e9.png)

Hovering over a field makes it dark:

![image](https://user-images.githubusercontent.com/16561050/125409779-8a628000-e3bc-11eb-8ed0-090613dee3c8.png)

The hover background color is the same as when you are not debugging - but when you are not

[2021-08-03 17:47] laurencedeclan commented on #104
Just commenting to say that this is an amazing theme for Python and it would be even better if Jupyter notebooks didn't show up with a placeholder icon.

[2021-08-10 08:07] quanscheng opened #121 "different color between HTML tags and Component tags"
when use VUE or REACT
eg:
the color of  `<Component>` is the same as the `<div>` ....

wish the colors of the two labels can be distinguished
thanks, ayu is very beautiful theme , and wish it's to be better.

[2021-08-11 16:37] leutzed commented on #121
oh boy i want it so badly

up up up

[2021-08-11 18:25] meduzen commented on #121
Do you have examples of themes making this useful and nice?

[2021-08-11 18:28] leutzed commented on #121
the themes that i like that have this features are the Github Theme, Dracula and Omni Theme. I also tried to modify ayu based on the variables that those themes provide, but no sucess :(

[2021-08-11 18:52] leutzed commented on #121
yo guys, found a way to do this in your user settings

Ctrl + Shift + P > Open Settings (JSON) > paste this code, changing the "foreground" color with one of your preference.

`"editor.tokenColorCustomizations": {
        "textMateRules": [
            {
                "scope": [
                 "entity.name.tag.tsx",
                 ],
                 "settings": {
                 "foregroun

[2021-08-12 12:56] dempfi commented on #121
Great suggestion @quanscheng. I'll adopt @leutzed's suggested solution into the next release

[2021-08-12 13:15] #88 closed

[2021-08-12 13:17] #116 closed

[2021-08-12 13:20] leutzed commented on #121
sure, but @dempfi use a color which is in the ayu-colors repo, than you won't need to change the pallete :)

[2021-08-12 23:34] dempfi commented on #117
Fixed in the latest release

[2021-08-12 23:34] #117 closed

[2021-08-12 23:35] dempfi commented on #112
Fixed in latest version

[2021-08-12 23:35] #112 closed

[2021-08-12 23:35] dempfi commented on #104
Fixed in the latest release

[2021-08-12 23:35] #104 closed

[2021-09-02 19:37] dempfi commented on #121
Released in v1

[2021-09-02 19:37] #121 closed

[2021-09-02 19:38] dempfi commented on #120
Fixed in v1

[2021-09-02 19:38] #120 closed

[2021-09-02 19:40] dempfi commented on #106
Thx for reporting @EriKWDev. Fixed in v1, also improved a bit on the punctuation around string literals

[2021-09-02 19:40] #106 closed

[2021-09-02 19:41] dempfi commented on #94
Released in v1 colors. No italics or bolds tho. Not sure how to handle them in the best manner. Feel free to reopen if you have an idea

[2021-09-02 19:41] #94 closed

[2021-09-02 19:43] dempfi commented on #87
Fixed in v1

[2021-09-02 19:43] #87 closed

[2021-09-02 19:44] dempfi commented on #66
Another bunch of updates to contrast landed in v1. Hope you like it guys

[2021-09-02 19:44] #66 closed

[2021-09-02 19:45] dempfi commented on #82
Fixed in v1

[2021-09-02 19:45] #82 closed

[2021-09-02 19:45] dempfi commented on #78
Fixed in v1

[2021-09-02 19:45] #78 closed

[2021-09-02 19:46] dempfi commented on #72
I've applied a bunch of updates to these in v1. Give it a shot 😉

[2021-09-02 19:46] #72 closed

[2021-09-02 19:53] dempfi commented on #115
Fixed in v1

[2021-09-02 19:53] #115 closed

[2021-09-03 19:10] sobolevn opened #123 "Old color scheme?"
Hi! Thanks a lot for an awesome theme. I am using it for like 4 years now.
Dotfiles: https://github.com/sobolevn/dotfiles#vs-code

My main question is: after a recent update (1-2 days ago) my color scheme has change a lot. And I don't like it, sorry 🙂

Let's discuss new problems I see:
<img width="1280" alt="Снимок экрана 2021-09-03 в 22 06 44" src="https://user-images.githubusercontent.com/466027

[2021-09-03 20:31] dempfi commented on #123
4 years is really a lot of time. I'm happy to hear people loving and using ayu ❤️

Thank for detailed report, it seems all of this can be addressed:
- I'll look into toning down a notch bracket highlight. I can see how that can be annoying;
- Purple was used for arguments for a couple years now. What has changed tho is that I enabled semantic highlighting which causes this arguments color to be us

[2021-09-03 20:33] dempfi commented on #123
@emlautarom1 when you say

Do you mean the `false` constants or something else?

[2021-09-04 06:09] dempfi commented on #123
I've toned down bracket highlights.

[2021-09-04 06:50] xuhaibahmad commented on #123
TYSM for this theme. I use Ayu Dark for pretty much every IDE I use.

Please reconsider these recent changes, especially the purple accent. I haven't tried other languages with them yet, but currently, my Dart code looks like this (v1.0.2):

![image](https://user-images.githubusercontent.com/6507679/132085588-efca0aa6-9572-4765-b8a3-b193fe2f2994.png)

[2021-09-04 06:54] dempfi commented on #123
Wow, that's really terrible @xuhaibahmad. Can you share a piece of code for me to test on?

[2021-09-04 07:07] xuhaibahmad commented on #123
Sure! I think the semantic highlighting will have this issue with languages/frameworks that uses object nesting such as Flutter, SwiftUI, and JetPack Compose, etc.

[code]

[2021-09-04 08:25] sobolevn commented on #123
The same with python named arguments:
<img width="1280" alt="Снимок экрана 2021-09-04 в 11 24 13" src="https://user-images.githubusercontent.com/4660275/132088118-1e269f0b-0d2f-46f5-a9c5-9b84d682e364.png">

[code]

[2021-09-04 09:45] sobolevn commented on #123
One more problem: new search is very low in contrast. It is hard to see the highlighted text.
<img width="273" alt="Снимок экрана 2021-09-04 в 12 42 32" src="https://user-images.githubusercontent.com/4660275/132090133-05df10ca-1348-4bc0-98c8-883799a09e3b.png">

I really hope that it will be possible to restore things back to normal soon 🙂

[2021-09-04 18:56] dempfi commented on #123
Can you guys give a go to this version [ayu-1.0.2.vsix.zip](https://github.com/ayu-theme/vscode-ayu/files/7110357/ayu-1.0.2.vsix.zip)

[2021-09-04 19:20] sobolevn commented on #123
@dempfi thanks a lot! Brackets and keyword arguments are back to normal! 👍
However, function arguments, search results, and constants are still purple for some reason 😞

<img width="1280" alt="Снимок экрана 2021-09-04 в 22 19 04" src="https://user-images.githubusercontent.com/4660275/132105718-aa93a870-c8b8-4746-9791-24c435e3a537.png">

[2021-09-04 19:28] xuhaibahmad commented on #123
Much better! Though the use of purple for parameters means a lot of my code is still that color. Also, noticed that parameters are not colored when I disable semantic highlighting.

Semantic Highlighting ON:

![image](https://user-images.githubusercontent.com/6507679/132105875-a6e9f9a0-896f-45f7-81dd-b45307820714.png)

Semantic Highlighting OFF:

![image](https://user-images.githubusercontent.com/

[2021-09-04 19:36] sobolevn commented on #123
Ok, I found the solution for my problem. Sharing with other people:

You can use older versions of extensions in vscode.
https://stackoverflow.com/questions/42626065/vs-code-rollback-extension-install-specific-extension-version/53755378

Demo (and the final result, code color is back to normal):

https://user-images.githubusercontent.com/4660275/132106037-b87ed8db-7e96-4e98-821c-11ff619e69f2.mov

[2021-09-06 03:16] naivelogic commented on #123
i had to rollback to v0.20.2. love ayu tho!!

[2021-09-06 06:57] exitlol commented on #123
Hope I am not late for the party.
@dempfi I work with Angular/TS. And the yellow accent colors are still purple, the type associations are the same color as the Interface

screens from v.1.0.0 and up:
![image](https://user-images.githubusercontent.com/36930188/132172972-b619c9be-f91d-4d7c-b483-6cb90ced2dde.png)
![image](https://user-images.githubusercontent.com/36930188/132172999-2e3db557-c864-4e4

[2021-09-06 16:30] randmaru commented on #105
@dempfi
give me an answer, I'll add an icon :)

[2021-09-06 18:48] dempfi commented on #105
@randmaru, жги! Help is more than welcome

[2021-09-08 21:31] emlautarom1 commented on #123
Yes, exactly that. Notice that the constant `2` is also pink-ish

[2021-09-11 22:19] dempfi commented on #90
Here you go https://marketplace.visualstudio.com/items?itemName=dempfi.ayu-vs

[2021-09-11 22:19] #90 closed

[2021-09-16 06:49] exitlol commented on #123
Any updates in this issue?

[2021-09-24 23:14] rbanks54 opened #128 "Dark Mode Tooltips in VS2022 p4 are hard to read"
![image](https://user-images.githubusercontent.com/234581/134747652-f0607770-89e5-480c-b0f0-ef6c2c44c9b2.png)

The setting to change is `Editor Tooltip` .`Plain Text`

![image](https://user-images.githubusercontent.com/234581/134747758-457ecf21-39dd-443d-aabd-b9f606898676.png)

[2021-10-08 12:38] PraetorP opened #129 "Reset theme customization settings"
Hello! I really liked your theme, but I wanted to do some customization in the colors of the tokens (for example, for the dereference operator). I came across the fact that customizations made through editor.tokenColorCustomizations disappear after the project is fully initialized. Can you tell me how to fix this?
An example can be found here: https://imgur.com/a/DkdvYBP
The top screen is after in

[2021-10-29 20:51] yushiyangk opened #130 "Matlab icons for .m file"
Ayu v1.0.5

I see that .mat have their own Matlab icons. Is it possible to enable these icons for .m files as well? Thanks!

[2021-11-26 19:01] meandmymind opened #131 "Source control background"
Hi! Thanks for the great theme. I really really love it.

We can improve source control view colors: set background to opaque colors so it's easier on view. Like here.

<img width="668" alt="image" src="https://user-images.githubusercontent.com/24773652/143621754-ab896704-bcf9-4962-a796-4d4615d1883c.png">

I used colors
[code]

[2022-02-07 13:54] thetherington opened #132 "icon for .ejs extension"
would like to see a icon for this file type. thanks

[2022-04-10 08:30] icnahom opened #134 "Dart file Icons doesn't look good."
I like this theme a lot but the way Dart Icon is designed looks very fat and dull. Maybe adding the shades of blue color could help.
![image](https://user-images.githubusercontent.com/60504285/162609606-e4ab2505-5093-4f18-9e2f-068c68e2b01e.png)

[2022-05-12 20:31] xperiandri opened #135 "[Visual Studio] crashes on Data Binding dialog window open"
Steps to reproduce:
1. Clone https://github.com/xperiandri/Elmish.Uno/tree/NET_6
2. Open `src\Samples.sln`
3. Build the UWP project
4. Open `Shared\Components\Counter.xaml`
5. Select root grid
6. Open Properties
7. Find the `DataContext` property
8. Click on the blue cylinder button right to the TextBox
9. See crash

Repro video
https://user-images.githubusercontent.com/2365592/168162736-2ed66588-

[2022-10-14 02:51] Sudharshan-24 opened #137 "decrease color contrast"
letter colours are vivid. please decrease the contrast.

[2022-10-28 16:15] diogomsmiranda opened #138 "What is the font used in advertisement photos?"
title

[2022-11-02 02:48] GreenYun opened #139 "Add Markdown Underline Style to Get Texts Underlined (Maybe Not In Markdown)"
Some language syntax extensions, like rust-analyzer, may use `"markup.underline"` to distinguish terms. Just add the following code copied from the default theme:

[code]

[2022-11-02 02:48] GreenYun opened #140 "Add Markdown Underline Style to Get Texts Underlined (Maybe Not In Markdown)"
Some language syntax extensions, like rust-analyzer, may use `"markup.underline"` to distinguish terms. Just add the following code copied from the default theme:

[code]

[2022-11-03 18:55] GreenYun commented on #140
Duplicated #139 due to GitHub 500 Server error. Closed.

[2022-11-03 18:55] #140 closed

[2022-11-24 08:49] RivenSkaye commented on #138
Looks to be the same as the upstream Sublime repo this was forked from, in which case it's [Pragma Proto w/ ligatures](https://fsd.it/shop/fonts/pragmatapro/)

[2022-11-24 09:06] RivenSkaye commented on #103
You can't; combined theme packages are a double-edged blade in that regard. They register the styles and information for three variants in the same place. The only way to remove two is by forking the theme and removing what you don't want, unless the dev would be willing to split up Ayu into three separate themes, but that makes very little sense imo

[2022-11-24 09:11] RivenSkaye commented on #77
This was an issue with vscode itself and has since been fixed as noted [in the issue mentioning this one](https://github.com/josefaidt/rouge-theme/issues/13)